.main {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px;
}

.spinning_shape {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  background-color: #333333;
  margin-bottom: 20px;
}

.card_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 3rem;
}

.overlay {
  cursor: pointer;
  z-index: 1;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.card_placeholder {
  width: 100px;
  height: 200px;
}

.card {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: white;
  border: 1px solid #333333;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100px;
  height: 200px;
}

.motion_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.button {
  margin-top: 20px;
  background-color: #333333;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
}

.draggable {
  margin-top: 20px;
  display: flex;
  width: 100px;
  height: 100px;
  background-color: #333333;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
